

:root {
  
}

.page {
    font-family: "Roboto" , sans-serif;
    background: #FFFFFF;
    color: #434455;
    

    
}

.navigation {
    
background: #FFFFFF;



}
.logo-link { font-family: "Raleway", sans-serif;
   
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
     color: #4D5AE5;
     letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-link:hover {
    color: #404BBF;
}


.logo-studio { font-family: "Raleway", sans-serif;
   
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
   
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
   
    color: #F4F4FD;
    
    
}
.logo-studio-link {
    color: #2E2F42;
}

.link-menu  {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
   
    
    letter-spacing: 0.02em;
    
    
    color: #2E2F42;
    
}

.link-menu:hover { color: #404BBF;

}
.link-menu:focus { color: #404BBF;

}


.titlel-section {
    
background: #2E2F42;
}

.main-page-title {
    
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;

}

.btn-order { 
    font-family:  "Roboto", sans-serif;
   background: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.04em;
color: #FFFFFF;
flex: none;
cursor: pointer;
 }

.btn-order:hover {
    background-color: #404BBF;
}

.btn-order:focus {
    background-color: #404BBF;
}


.link-information {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;


letter-spacing: 0.02em;





}


.link-information:hover {
    color: #404bbf;
}

.link-information:focus {
    color: #404bbf;
}






.information {
    background: #FFFFFF;
}

.title-menu {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
   letter-spacing: 0.02em;
    color: #2E2F42;
     flex: none;
    
    
}

.paragraph {
    
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.subtitle-main-page {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;


}

.section-team {
    background: #F4F4FD;
}

.desc-menu {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;


text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;



color: #2E2F42;
background: #FFFFFF;
}

.images-photo {
    background: #FFFFFF;
}

.name {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;

text-align: center;
letter-spacing: 0.02em;

color: #2E2F42;

}

.specialty {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;

}

.closing {
    background: #2E2F42;
}

.paragraph-ft {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;

}



.main-menu-one { font-family: "Roboto", sans-serif;
    background: #F4F4FD;

border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;
}
.main-menu-one:hover { color: #FFFFFF;

}

.main-menu-one:focus {
    color: #FFFFFF;
}

.main-menu-one:hover {
    background-color : #404BBF;
}

.main-menu-one:focus {
    background-color: #404BBF;
}


.list { list-style: none;

}




.link {
    text-decoration:none;
}

.link-address {
    font-style: normal;


}


.title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

color: #2E2F42;

}

.subtitle {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;


letter-spacing: 0.02em;
color: #434455;

}





